body, html{
    color: #000;
	width: 100%;
	height: 100%;

}

html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    margin: 0;
    padding: 0;
    outline: none !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none !important;
}

.clear{
    clear: both;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.mobile {
	overflow-x:hidden;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent !important;
}

[placeholder]:focus:-moz-placeholder {
    color: transparent !important;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent !important;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent !important;
}

.wrapper{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* min-width: 1200px; */
    max-width: 1920px;
}

.main-wrapper{
    margin: 0 auto;
    position: relative;
    min-width: 1200px;
    max-width: 1920px;
    height: 100%;
    overflow-x: hidden;
}

.main-wrapper .main-subtitle {
    font: 200 54px/60px 'HelveticaNeueCyr';
}

.main-wrapper .main-title {
    font: 166px/160px 'pf_din_text_cond_probold';
}

.main-wrapper .main-text {
    font: 300 51px/60px 'HelveticaNeueCyr';
}

.main-wrapper .main{
    height: 100%;
}

.main-wrapper .section{
    min-height: 100%;
}

.modals{
    display: none;
}

.main{
    background: #fff;
}

.section{
    background: url("../images/bg/main-s-bg.png") repeat;
    position: relative;
}

.how .section{
    background: url("../images/bg/how-s-bg.png") repeat;
    position: relative;
}

.header{
    position: relative;
    z-index: 5;
}

.logo{
    margin-top: 29px;
	display: inline-block;
}

.logo img{
    display: block;
}

.site-top{
    color: #444444;
    margin-top: 25px;
    text-align: center;
    font: 16px/22px 'HelveticaNeueCyr';
}

.header-right{
    margin-top: 15px;
	text-align: right;
}

.phone a{
    font: bold 24px 'HelveticaNeueCyr';
    letter-spacing: 0.05em;
    color: #222222;
    text-shadow: 0px 0px 1px rgba(11, 11, 11, 0);
}

.phone a:hover{
    color: #ffe400;
    text-shadow: 0px 0px 1px rgba(11, 11, 11, 1);
}

.phone a span{
    font-weight: 300;
    font-size: 18px;
}

.call-back-wrap{
    font-size: 0;
    text-align: right;
    margin-top: 10px;
}

.call-back-link{
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
    text-align:  center;
    height: 36px;
    color: #111111;
    border-radius: 18px;
    background: #ffe400;
    font: 14px/36px 'HelveticaNeueCyr'
}

.call-back-link:hover{
    background: #111111;
    color: #ffe400;
}

.main-block{
    position: relative;
    z-index: 5;
	padding-bottom: 80px;
    padding-top: 38px;
}

.main-block .container{
    position: relative;
}

.main-subtitle{
    color: #111111;
    margin-left: -4px;
    margin-top: 10px;
    font: 200 70px/60px 'HelveticaNeueCyr';
	position: relative;
	z-index: 2;
}

.main-title{
    color: #111111;
    font: 152px/160px 'pf_din_text_cond_probold';
    margin-left: -9px;
	position: relative;
	z-index: 2;
}

.main-text{
    color: #222222;
    font: 300 70px/60px 'HelveticaNeueCyr';
    margin-left: 71px;
    margin-top: 9px;
	position: relative;
	z-index: 2;
}

.decor{
    position: absolute;
    left: 50%;
}

.m-d-1{
    top: 0;
    margin-left: -805px;
    background: url("../images/content/m-d-1.png") no-repeat;
    width: 503px;
    height: 410px;
    z-index: 1;
}

.main-items{
    margin-top: 46px;
	position: relative;
}

.main-item{
    color: #222222;
    font: 200 24px/36px 'HelveticaNeueCyr';
    letter-spacing: 0.025em;
    padding-left: 68px;
    background: url("../images/elements/m-e-1.png") no-repeat left top 46%;
}

.main-action-wrap{
    margin-top: 30px;
    font-size: 0;
    padding-left: 570px;
    position: relative;
    z-index: 5;
}

.main-img{
    background: url("../images/content/m-img-1.png") no-repeat;
    width: 674px;
    height: 453px;
    top: 96px;
    right: -10px;
    position: absolute;
	background-size: contain;
}

.main-link{
    display: inline-block;
    vertical-align: top;
    height: 70px;
    text-align: center;
    letter-spacing: 0.05em;
    font: 18px/70px 'pf_din_text_cond_promedium';
    border-radius: 35px;
    text-transform: uppercase;
    padding: 0 45px;
    background: #ffe400;
    color: #111111;
}

.main-link:hover{
    background: #111111;
    color: #ffe400;
}

.where{
    margin-top: 65px;
	padding-bottom: 95px;
}

.where-title{
    font: 200 30px/30px 'HelveticaNeueCyr';
    color: #444444;
}

.where-slider-wrap{
    position: relative;
    margin-top: 66px;
}

.where-slider-links{
    font-size: 0;
    margin-bottom: 5px;
	position: relative;
	z-index: 3;
}

.where-slider-links a{
    height: 50px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font: bold 14px/50px 'HelveticaNeueCyr';
    color: #aaaaaa;
    border-top: 4px solid transparent;
}

.where-slider-links a.active, .where-slider-links a:hover{
    border-color: #ffe400;
    color: #222222;
}

.where-slider-links a:not(:last-child){
    margin-right: 34px;
}

.where-slider-item img{
    display: block;
    max-width: 100%;
}

.nav-slide{
    width: 51px;
    height: 14px;
    display: inline-block!important;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.prev-slide .norm{
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 14px;
    background: url("../images/elements/prev-arr.png") no-repeat;
}

.next-slide .norm{
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 14px;
    background: url("../images/elements/next-arr.png") no-repeat;
}

.prev-slide .hov{
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 14px;
    background: url("../images/elements/prev-arr-hov.png") no-repeat;
}

.next-slide .hov{
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 14px;
    background: url("../images/elements/next-arr-hov.png") no-repeat;
}

.hov{
    opacity: 0;
    z-index: 3;
}

.nav-slide:hover .hov{
    opacity: 1;
}

.where-slider-navs{
    font-size: 0;
    text-align: right;
	position:relative;
	z-index: 3;
}

.where-slider-navs .nav-slide{
  	position: absolute;
	top: -30px;
	right: 0;
}

.where-slider-navs .nav-slide:not(:last-child) {
	margin-right: 30px;
	right: 50px;
}

.photo-slider-navs{
    font-size: 0;
    text-align: right;
    margin-top: 20px;
}

.where .container{
    position: relative;
}

.m-d-3{
    background: url("../images/elements/d-type-1.png") no-repeat;
    width: 45px;
    height: 20px;
    top: 365px;
    margin-left: -713px;
    z-index: 2;
}

.m-d-2{
    margin-left: 285px;
    top: -60px;
    background: url("../images/content/m-d-2.png") no-repeat;
    height: 527px;
    width: 527px;
}

.m-d-4{
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 28px;
    margin-left: -754px;
    z-index: 2;
}

.m-d-5{
    background: url("../images/elements/map.png") no-repeat;
    width: 166px;
    height: 111px;
    margin-left: -150px;
    top: 15px;
}

.m-d-6{
    background: rgba(255, 228, 0, 0.2);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    left: auto;
    right: 0;
    top: 190px;
}

.m-d-7{
    background: rgba(0, 0, 0, 0.02);
    width: 355px;
    height: 355px;
    bottom: 318px;
    border-radius: 50%;
    margin-left: -660px;
}

.m-d-8{
    background: url("../images/elements/m-e-2.png") no-repeat;
    width: 158px;
    height: 158px;
    bottom: 65px;
    border-radius: 50%;
    margin-left: -585px;
}

.m-d-9{
    background: #ffe400;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 200px;
    margin-left: -735px;
    z-index: 2;
}

.m-d-10{
    background: url("../images/elements/d-type-2.png") no-repeat;
    width: 31px;
    height: 14px;
    border-radius: 50%;
    top: 545px;
    margin-left: -665px;
    z-index: 2;
}

.m-d-11{
    background: url("../images/elements/d-type-1.png") no-repeat;
    width: 45px;
    height: 20px;
    top: 125px;
    margin-left: 723px;
    z-index: 2;
}


.m-d-12{
    background: transparent;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 60px;
    margin-left: 105px;
    z-index: 2;
    border: 3px solid #000;
}

.m-d-13{
    background: url("../images/elements/d-type-3.png") no-repeat;
    width: 31px;
    height: 14px;
    top: 600px;
    margin-left: 350px;
    z-index: 2;
}

.m-d-14{
    background: #ffe400;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 654px;
    margin-left: -367px;
    z-index: 2;
}

.m-d-15{
    background: url("../images/elements/d-type-4.png") no-repeat;
    width: 5px;
    height: 56px;
    top: 655px;
    margin-left: -555px;
    z-index: 2;
}

.m-d-16{
    background: url("../images/elements/d-type-5.png") no-repeat;
    width: 7px;
    height: 37px;
    top: 490px;
    margin-left: -40px;
    z-index: 2;
}

.m-d-17{
    background: url("../images/elements/d-type-6.png") no-repeat;
    width: 37px;
    height: 7px;
    top: 30px;
    margin-left: 355px;
    z-index: 2;
}

.why{
    background-color: #ffe400;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../images/bg/why-bg.jpg");
    padding-bottom: 90px;
	background-size: cover;
    padding-top: 105px;
	position: relative;
}

.why .container{
    position: relative;
}

.title{
    font: 200 60px/60px 'PF Din Text Cond Pro';
    color: #111111;
}

.title span{
    font-weight: normal;
    font-family: 'pf_din_text_cond_promedium';
}

.colors .title span{
    font-family: 'pf_din_text_cond_promedium';
}

.why .title{
    position: relative;
    z-index: 5;
    letter-spacing: -0.006em;
}

.shadow{
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	max-width: 640px;
}

.video-link:hover .shadow{
    opacity: 0.1;
}

.video-link:hover .play{
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    background: rgba(0, 0, 0, 0.75);
}

.why-bottom-list{
    margin-top: 45px;
    font-size: 0;
}

.why-bottom-item{
    padding-left: 8px;
    display: inline-block;
    vertical-align: top;
    color: #484424;
    background: url("../images/elements/mark-icon.png") no-repeat;
    font: 22px/54px 'HelveticaNeueCyr';
}

.why-bottom-item:not(:last-child){
    margin-right: 110px;
}

.why-bottom{
    text-align: right;
    margin-top: 60px;
}

.why-bottom-title{
    font: 40px/45px 'pf_din_text_cond_promedium';
    color: #111111;
}

.why-bottom-title span{
    font-family: 'PF Din Text Cond Pro';
    font-weight: 200;
}

.play{
    width: 110px;
    height: 110px;
    background: rgba(0, 0, 0, 0.65);
    line-height: 110px;
    font-size: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: 50%;
    margin-top: -55px;
    border-radius: 50%;
    padding-left: 8px;
}

.play img{
    display: inline-block !important;
    vertical-align: middle;
}

.why .video-link {
	position: relative;
	display: block;
	max-width:640px;
	margin:0 auto;
}

iframe {
	max-width:100%;
}

.video-link img{
    display: block;
    max-width: 100%;
}

.why-list{
    margin-top: 60px;
    max-width: 490px;
}

.why-item{
    padding-left: 40px;
    position: relative;
    color: #484424;
    font: 300 17px/24px 'HelveticaNeueCyr';
}

.why-item:not(:last-child){
    margin-bottom: 25px;
}

.why-item:before{
    content: '';
    border: 2px solid #000;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    left: 0;
    top: 7px;
    box-sizing: border-box;
}

.w-d-1{
    background: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: -830px;
    top: 240px;
}

.w-d-2{
    background: url("../images/elements/d-type-1.png") no-repeat;
    width: 45px;
    height: 20px;
    margin-left: 557px;
    top: 200px;
}

.w-d-3{
    background: url("../images/elements/d-type-4.png") no-repeat;
    width: 5px;
    height: 56px;
    margin-left: -735px;
    top: 374px;
}

.w-d-4{
    background: url("../images/elements/d-type-3.png") no-repeat;
    width: 31px;
    height: 14px;
    margin-left: 600px;
    top: 547px;
}

.w-d-5{
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 680px;
    top: 455px;
}

.w-d-6{
    background: url("../images/elements/d-type-7.png") no-repeat;
    width: 37px;
    height: 7px;
    margin-left: -160px;
    top: 715px;
}

.advants{
    background: url("../images/bg/advants-bg.jpg") no-repeat center top;
    padding-bottom: 100px;
    padding-top: 100px;
	background-size: cover;
}

.advants .title{
    color: #ffe400;
}

.subtitle{
    color: #bbbbbb;
    margin-top: 10px;
    letter-spacing: 0.025em;
    font: 300 19px 'HelveticaNeueCyr';
}

.advants-list-title{
    color: #fff;
    font: 30px 'pf_din_text_cond_promedium';
    text-align: center;
    margin-top: 35px;
}

.advants-row{
    font-size: 0;
}

.advants-row:nth-child(2n+1){
    text-align: left;
}

.advants-row:nth-child(2n){
    text-align: right;
}

.advants-list{
    margin-top: 105px;
}

.advants-item{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 270px;
	margin:30px 50px;
}

.advants-item-img{
    position: relative;
    text-align: center;
    line-height: 71px;
    height: 71px;
    font-size: 0;
    margin-bottom: 20px;
}

.advants-item-img:before{
    position: absolute;
    background: url("../images/elements/advants-img-decor-1.png") no-repeat;
    width: 48px;
    height: 47px;
    content: '';
    left: 50%;
    margin-left: -42px;
    bottom: 0;
}

.advants-item-img:after{
    position: absolute;
    background: url("../images/elements/advants-img-decor-2.png") no-repeat;
    width: 93px;
    height: 92px;
    content: '';
    left: 50%;
    margin-left: -32px;
    bottom: -5px;
}

.advants-item-img img{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: relative;
    z-index: 3;
}

.advants-item-title{
    color: #ffe400;
    font: 22px/22px 'pf_din_text_cond_promedium';
}

.sep{
    background: url("../images/elements/advants-item-sep.png") no-repeat;
    width: 22px;
    height: 5px;
    margin: 8px auto;
}

.advants-item-text{
    font: 300 17px/24px 'HelveticaNeueCyr';
    color: #eeeeee;
}

.advants-row:nth-child(2n+1) .advants-item:not(:last-child){
    margin-right: 120px;
}

.advants-row:nth-child(2n) .advants-item:not(:first-child){
    margin-left: 120px;
}

.advants-row:not(:last-child){
    margin-bottom: 75px;
}


.advants{
    position: relative;
}

.a-d-1{
    background: url("../images/elements/d-type-8.png") no-repeat;
    width: 6px;
    height: 72px;
    margin-left: 575px;
    bottom: 76px;
}

.a-d-2{
    background: url("../images/elements/d-type-9.png") no-repeat;
    width: 32px;
    height: 13px;
    margin-left: -690px;
    top: 46px;
}

.a-d-3{
    background: #ffe400;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 783px;
    top: 170px;
}

.a-d-4{
    background: url("../images/elements/d-type-7.png") no-repeat;
    width: 37px;
    height: 7px;
    opacity: 0.25;
    margin-left: 605px;
    top: 442px;
}

.a-d-5{
    background: url("../images/elements/d-type-10.png") no-repeat;
    width: 61px;
    height: 18px;
    margin-left: -835px;
    bottom: 300px;
}

.a-d-6{
    background: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 672px;

    bottom: 335px;
}

.a-d-7{
    background: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -775px;
    top: 555px;
}

.main{
    position: relative;
}

.change{
    background: #fff;
    position: relative;
}

.change .container{
    padding-bottom: 110px;
    padding-top: 110px;
}

.change-list{
    margin-top: 70px;
}

.change-item{
    color: #444444;
    text-align: center;
    font: 24px/24px 'PF Din Text Cond Pro';
    position: relative;
}

.change-item-title{
    display: inline-block;
    vertical-align: top;
}

.change-item-decor{
    width: 65px;
    position: absolute;
    top: 50%;
    font-size: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
}

.change-item-decor:before{
    width: 42px;
    height: 42px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.change-item-decor img{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.change-item:nth-child(2n+1) .change-item-decor{
    margin-left: -175px;
    left: 50%;
}

.change-item:nth-child(2n) .change-item-decor{
    right: 50%;
    margin-right: -175px;
}

.change-item-text{
    color: #888888;
    font: 300 19px/26px 'HelveticaNeueCyr';
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: left;
}

.change-item-text:before{
    position: absolute;
    content: '';
    top: 50%;
    height: 8px;
    margin-top: -4px;
    width: 58px;
}

.change-item:nth-child(2n+1) .change-item-text:before{
    background: url("../images/elements/line-right.png") no-repeat;
    left: -95px;
}

.change-item:nth-child(2n) .change-item-text:before{
    background: url("../images/elements/line-left.png") no-repeat;
    right: -95px;
}

.change-item:nth-child(2n+1) .change-item-text{
    margin-left: 205px;
    left: 50%;
}

.change-item:nth-child(2n) .change-item-text{
    margin-right: 205px;
    text-align: right;
    right: 50%;
}

.change-item:not(:last-child){
    margin-bottom: 90px;
    position: relative;
}

.change-item:not(:last-child):after{
    background: url("../images/elements/change-item-after.png") no-repeat;
    width: 9px;
    height: 62px;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -4.5px;
    top: 36px;
}

.change-item:first-child:before{
    background: url("../images/elements/change-item-after.png") no-repeat;
    width: 9px;
    height: 62px;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -4.5px;
    bottom: 36px;
}

.ch-d-1{
    background: url("../images/content/ch-d-1.png") no-repeat;
    width: 374px;
    height: 477px;
    bottom: 0;
    margin-left: 585px;
}

.ch-d-2{
    border: 33px solid #ffe400;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    z-index: 2;
    bottom: 190px;
    margin-left: 805px;
}

.ch-d-3{
    background: url("../images/content/ch-d-2.png") no-repeat;
    width: 490px;
    height: 438px;
    top: 0;
    z-index: 2;
    margin-left: -850px;
}

.ch-d-4{
    background: url("../images/elements/d-type-11.png") no-repeat;
    width: 33px;
    height: 17px;
    top: 835px;
    z-index: 2;
    margin-left: -652px;
}

.ch-d-5{
    background: url("../images/elements/d-type-12.png") no-repeat;
    width: 39px;
    height: 29px;
    top: 100px;
    z-index: 2;
    margin-left: 540px;
}

.ch-d-6{
    background: url("../images/elements/d-type-13.png") no-repeat;
    width: 75px;
    height: 15px;
    top: 275px;
    z-index: 2;
    margin-left: 843px;
}

.ch-d-7{
    background: url("../images/elements/d-type-8.png") no-repeat;
    width: 6px;
    height: 72px;
    top: 277px;
    z-index: 2;
    margin-left: -585px;
}

.ch-d-8{
    background: #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 2;
    top: 221px;
    margin-left: -815px;
}

.ch-d-9{
    border: 6px solid #000;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 2;
    bottom: 41px;
    margin-left: 643px;
}

.ch-d-10{
    background: url("../images/elements/change-img-decor.png") no-repeat;
    width: 96px;
    height: 192px;
    top: 119px;
    margin-left: 863px;
}

.change .title{
    position: relative;
    z-index: 3;
}

.how .container{
    padding-top: 100px;
    padding-bottom: 120px;
}

.how{
    background: #ffe400;
}

.justify-wrap{
    font-size: 0;
}

.empty-span{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
}

.how-list{
    margin-top: 70px;
}

.how-item{
    display: inline-block;
    vertical-align: top;
}

.how-item-img{
    background: url("../images/elements/how-img.png") no-repeat;
    width: 109px;
    height: 108px;
    line-height: 108px;
    text-align: center;
    position: relative;
    margin-left: 8px;
}

.how-item-img img{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.how-item{
    position: relative;
    text-align: left;
}

.how-item:before{
    content: '';
    background: url("../images/elements/how-before.png") no-repeat;
    width: 60px;
    height: 59px;
    position: absolute;
    top: 44px;
    left: 0;
}

.how-item-title{
    color: #6a6220;
    font: 16px/24px 'HelveticaNeueCyr';
    margin-top: 20px;
}

.how-item-title span{
    font-weight: bold;
}

.how-item:after{
    background: url("../images/elements/arrow-right.png") no-repeat;
    width: 25px;
    height: 45px;
    content: '';
    top: 32px;
    position: absolute;
}

.last-how-item:after{
    display: none;
}

#how-item-1:after{
    left: 195px;
}

#how-item-2:after{
    left: 235px;
}


#how-item-3:after{
    left: 210px;
}

.h-d-1{
    background: url("../images/content/h-d-1.png") no-repeat;
    width: 445px;
    height: 258px;
    top: 0;
    margin-left: 335px;
}

.how{
    position: relative;
}

.h-d-2{
    background: url("../images/content/h-d-2.png") no-repeat;
    width: 263px;
    height: 318px;
    top: 80px;
    margin-left: -960px;
}

.h-d-3{
    background: url("../images/content/h-d-3.png") no-repeat;
    width: 179px;
    height: 131px;
    top: 0;
    margin-left: 216px;
}

.h-d-4{
    background: url("../images/elements/d-type-14.png") no-repeat;
    width: 10px;
    height: 74px;
    top: 325px;
    margin-left: -748px;
}

.h-d-5{
    border: 5px solid #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 2;
    top: 390px;
    margin-left: -876px;
}

.h-d-6{
    background: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 2;
    top: 44px;
    margin-left: -660px;
}

.h-d-7{
    background: url("../images/elements/d-type-15.png") no-repeat;
    width: 74px;
    height: 6px;
    z-index: 2;
    top: 200px;
    margin-left: 370px;
}

.h-d-8{
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    z-index: 2;
    top: 233px;
    margin-left: 646px;
}

.h-d-9{
    background: url("../images/elements/d-type-16.png") no-repeat;
    width: 29px;
    height: 32px;
    z-index: 2;
    bottom: 55px;
    margin-left: 690px;
}

.faq{
    background: #fff;
    position: relative;
}

.faq .container{
    padding-bottom: 100px;
    padding-top: 100px;
}

.faq-col{
    width: 50%;
    float: left;
}

.faq-list{
    margin-top: 50px;
}

.faq-item-header{
    color: #111111;
    font: 200 24px/36px 'HelveticaNeueCyr';
    letter-spacing: 0.025em;
    padding-left: 30px;
    position: relative;
}

.faq-item.active .faq-item-header{
    color: #777777;
}

.faq-item{
    position: relative;
}

.faq-item-header a{
    color: #111111;
}



.faq-item.active .faq-item-header a{
    color: #777777;
}

.faq-item .faq-item-header a:hover{
    color: #777777;
}

.faq-item-answer{
    color: #777777;
    font: 300 17px/26px 'HelveticaNeueCyr';
    margin-top: 12px;
    padding-left: 30px;
    display: none;
}

.faq-item-header:before{
    background: url("../images/elements/faq-mark.png") no-repeat;
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    cursor: pointer;
    opacity: 0.4;
}

.faq-item.active .faq-item-header:before{
    opacity: 1;
    transform: rotate(45deg);
}

.faq-item:not(:last-child){
    margin-bottom: 14px;
    padding-bottom: 20px;
}

.faq-item:not(:last-child):after{
    background: url("../images/elements/faq-after.png") no-repeat;
    width: 22px;
    height: 5px;
    content: '';
    position: absolute;
    left: 30px;
    bottom: 0;
}

.f-d-1{
    width: 336px;
    height: 336px;
    background: url("../images/bg/main-s-bg.png") repeat;
    top: 55%;
    margin-top: -168px;
    margin-left: 620px;
    z-index: 2;
}

.f-d-2{
    width: 204px;
    height: 204px;
    background: url("../images/elements/f-d-1.png") repeat;
    top: 65px;
    margin-left: 555px;
    z-index: 1;
}

.f-d-3{
    width: 252px;
    height: 453px;
    background: url("../images/elements/f-d-2.png") repeat;
    top: 75px;
    margin-left: -960px;
    z-index: 1;
}

.f-d-4{
    width: 41px;
    height: 41px;
    background: url("../images/elements/d-type-17.png") repeat;
    top: 170px;
    margin-left: -765px;
    z-index: 2;
}

.f-d-5{
    width: 2px;
    height: 162px;
    background: url("../images/elements/d-type-18.png") repeat;
    bottom: 60px;
    margin-left: -830px;
    z-index: 2;
}

.f-d-6{
    width: 56px;
    height: 18px;
    background: url("../images/elements/d-type-19.png") repeat;
    top: 110px;
    margin-left: 555px;
    z-index: 2;
}

.f-d-7{
    background: #ffe400;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 275px;
    margin-left: 614px;
    z-index: 2;
}

.f-d-8{
    background: url("../images/elements/d-type-20.png") no-repeat;
    width: 27px;
    height: 18px;
    bottom: 43px;
    margin-left: -110px;
    z-index: 2;
}

.fake{
    position: relative;
    background: url("../images/bg/fake-bg.jpg") no-repeat center top;
	background-size: cover;
    padding-bottom: 70px;
    padding-top: 105px;
}

.fake-title{
    text-align: center;
    color: #ffe400;
    text-transform: uppercase;
    font: 55px/55px 'pf_din_text_cond_probold';
}

.fake-subtitle{
    text-align: center;
    font: 200 40px/40px 'PF Din Text Cond Pro';
    color: #fff;
    margin-top: 7px;
}

.no_padding {
	padding:0;
}

.fake-text{
    color: #aaaaaa;
    margin-top: 25px;
    font: 200 24px/24px 'PF Din Text Cond Pro';
    letter-spacing: 0.025em;
    text-align: center;
}

.fake-img{
    background: url("../images/content/fake-img-1.png") no-repeat;
    width: 304px;
    height: 230px;
    left: 50%;
    position: absolute;
    top: 408px;
    margin-left: -152px;
}

.fake-list{
    margin-top: 120px;
    position: relative;
}

.fake-list-item{
    display: inline-block;
    vertical-align: top;
    max-width: 315px;
    position: relative;
}

.fake-item-title{
    color: #ffe400;
    font: 24px/24px 'pf_din_text_cond_probold';
}

.fake-item-text{
    color: #fff;
    font: 300 15px/24px 'HelveticaNeueCyr';
    margin-top: 3px;
}

.fake-sep{
    background: url("../images/elements/fake-sep.png") no-repeat;
    width: 42px;
    height: 5px;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.fake-item-bottom-title{
    color: #fff;
    font: 600 18px/18px 'HelveticaNeueCyr';
}

.fake-item-bottom-text{
    color: #aaaaaa;
    margin-top: 5px;
    font: 300 15px/24px 'HelveticaNeueCyr';
}

.fake-list-item{
    text-align: left;
}

.right-item{
    text-align: right;
	float: right;
}

.clearfix .fake-sep{
    float: right;
    margin-left: 0;
    margin-right: -10px;
}

.fake-list-row:not(:last-child){
    margin-bottom: 95px;
}

.fake-item-1 .fake-item-img{
    background: url("../images/content/fake-1.png") no-repeat;
    width: 248px;
    height: 131px;
    top: -21px;
    left: 255px;
    position: absolute;
    z-index: 2;
	background-size: cover;
}

.fake-item-2 .fake-item-img{
    background: url("../images/content/fake-2.png") no-repeat;
    width: 257px;
    height: 125px;
    top: -71px;
    right: 223px;
    position: absolute;
    z-index: 2;
	background-size: cover;
}

.fake-item-3 .fake-item-img{
    background: url("../images/content/fake-3.png") no-repeat;
    width: 220px;
    height: 140px;
    top: -130px;
    left: 264px;
    position: absolute;
    z-index: 2;
	background-size: cover;
}

.fake-item-4 .fake-item-img{
    background: url("../images/content/fake-4.png") no-repeat;
    width: 249px;
    height: 195px;
    top: -183px;
    right: 250px;
    position: absolute;
    z-index: 2;
	background-size: cover;
}

.fake .container{
    position: relative;
}

.fake-bottom-block{
    position: absolute;
    text-align: center;
    color: #fff;
    max-width: 250px;
    bottom: 0;
    left: 50%;
    margin-left: -125px;
}

.fake-bottom-text{
    color: #fff;
    text-align: center;
    font: 300 16px/24px 'HelveticaNeueCyr';
}

.fake-bottom-block img{
    display: block;
    margin: 8px auto 0;
}

.fk-d-1{
    background: url("../images/elements/d-type-21.png") no-repeat;
    width: 275px;
    height: 2px;
    top: 124px;
    margin-left: 280px;
    z-index: 2;
}

.fk-d-2{
    background: #ffe400;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 73px;
    margin-left: 648px;
    z-index: 2;
}

.fk-d-3{
    background: url("../images/elements/d-type-22.png") no-repeat;
    width: 6px;
    height: 79px;
    top: 375px;
    margin-left: -850px;
    z-index: 2;
}

.fk-d-4{
    border: 4px solid rgb(68, 68, 68);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 760px;
    margin-left: -51px;
    z-index: 2;
}

.fk-d-5{
    background: url("../images/elements/d-type-23.png") no-repeat;
    width: 28px;
    height: 18px;
    top: 655px;
    margin-left: 55px;
    z-index: 2;
}

.photo{
    background-image: url("../images/bg/photo-bg.jpg");
    background-position: center top 65px;
    background-color: #fff;
    background-repeat: no-repeat;
}

.photo-slider-wrap{
    position: relative;
    margin-top: 70px;
}

.photo .container{
    padding-bottom: 120px;
    padding-top: 105px;
}

.photo-col{
    float: left;
    width: 25%;
}

.photo-link{
    display: block;
    position: relative;
}

.photo-col-wide{
    width: 50%;
    padding: 0 1px;
}

.photo-link > img{
    display: block;
    width: 100%;
}

.photo-row{
    padding: 0 3px;
    height: 524px;
    overflow: hidden;
}

.photo-link:first-child{
    margin-bottom: 1px;
}

.photo-col-wide .clearfix .photo-link{
    width: 50%;
    float: left;
}

.photo-col-wide .clearfix .photo-link:first-child{
    padding-right: 1px;
}

.zoom{
    position: absolute;
    background: rgba(255, 228, 0, 0.95);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.photo-link:hover .zoom{
    opacity: 1;
}

.zoom img{
    position: absolute;
    left: 50%;
    margin-left: -28px;
    margin-top: -28px;
    top: 50%;
    display: block;
}

.photo-slider-navs .nav-slide:not(:last-child){
    margin-right: 30px;
}

.photo{
    position: relative;
}

.photo .container{
    position: relative;
    z-index: 4;
}

.p-d-1{
    background: url("../images/content/p-d-1.png") no-repeat;
    width: 465px;
    height: 343px;
    bottom: 0;
    margin-left: -960px;
    z-index: 2;
}

.p-d-2{
    background: url("../images/content/p-d-2.png") no-repeat;
    width: 192px;
    height: 303px;
    top: 370px;
    margin-left: 770px;
}

.p-d-3{
    background: url("../images/elements/d-type-24.png") no-repeat;
    width: 282px;
    height: 2px;
    top: 578px;
    margin-left: 660px;
}

.p-d-4{
    background: #ffe400;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 815px;
    top: 396px;
    z-index: 2;
}

.p-d-5{
    background: url("../images/elements/d-type-25.png") no-repeat;
    width: 6px;
    height: 72px;
    margin-left: 645px;
    top: 237px;
    z-index: 2;
}

.p-d-6{
    background: url("../images/elements/d-type-26.png") no-repeat;
    width: 28px;
    height: 18px;
    margin-left: -765px;
    bottom: 113px;
    z-index: 2;
}

.p-d-7{
    background: #000;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-left: -500px;
    bottom: 110px;
    z-index: 2;
}

.order{
    background: url("../images/bg/order-bg.jpg") no-repeat center top;
	background-size:cover;
    position: relative;
    padding-top: 110px;
    padding-bottom: 50px;
}

.order-title{
    text-align: center;
    color: #ffe400;
    font: 70px/70px 'pf_din_text_cond_probold';
}

.order-subtitle{
    color: #fff;
    text-align: center;
    font: 200 45px/45px 'PF Din Text Cond Pro';
    margin-top: 7px;
}

.order-text{
    text-align: center;
    color: #bbbbbb;
    font: 300 24px/24px 'HelveticaNeueCyr';
    margin-top: 25px;
}

.order-form{
	max-width: 700px;
    text-align: center;
}

.order .order-form{
    margin: 75px auto 0;
}

.order-form-title{
    color: #ffe400;
    font: 40px/44px 'pf_din_text_cond_probold';
}

.order-form-subtitle{
    margin-top: 7px;
    color: #bbbbbb;
    font: 300 24px/24px 'HelveticaNeueCyr';
}

.order-form form{
    margin-top: 30px;
}

.form-row{
    margin: 0 -10px;
    font-size: 0;
}

.form-col{
    width: 50%;
    float: left;
    padding: 0 10px;
}
.form-col input[type="tel"],
.form-col input[type="text"]{
    height: 52px;
    width: 100%;
    display: block;
    border: 2px solid #444444;
    text-align: center;
    font: 200 20px 'HelveticaNeueCyr';
    padding: 0 12px;
    color: #fff;
    background: transparent;
}

.form-col input[type="tel"]:focus,
.form-col input[type="text"]:focus{
    border: 2px solid #fff;
}

.order-btn-wrap{
    text-align: center;
    margin-top: 30px;
}

.order-btn{
    padding: 0 55px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 56px;
    color: #111111;
    background: #ffe400;
    letter-spacing: 0.05em;
    border-radius: 28px;
    font: 18px/56px 'pf_din_text_cond_promedium';
}

.order-btn:hover{
    background: #111111;
    color: #ffe400;
}

.o-d-1{
    background: url("../images/elements/d-type-27.png") no-repeat;
    width: 19px;
    height: 33px;
    margin-left: 677px;
    top: 243px;
    z-index: 2;
}

.o-d-2{
    background: url("../images/elements/d-type-28.png") no-repeat;
    width: 8px;
    height: 58px;
    margin-left: -600px;
    top: 90px;
    z-index: 2;
}

.o-d-3{
    background: rgb(145, 145, 145);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-left: 490px;
    top: 310px;
    z-index: 2;
}

.o-d-4{
    border: 3px solid #ffe400;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 735px;
    top: 565px;
    z-index: 2;
}

.o-d-5{
    border: 3px solid rgb(145, 145, 145);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: -526px;
    top: 684px;
    z-index: 2;
}

.o-d-6{
    background: #ffe400;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: -695px;
    top: 265px;
    z-index: 2;
}

.footer{
    position: relative;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 35px;
	z-index: 105;
}

.footer-col{
    width: 33.3333333%;
    float: left;
}

.footer-left{
    margin-top: 30px;
}

.footer-phone{
    color: #111111;
    display: inline-block;
    vertical-align: top;
    background: url("../images/elements/phone-icon.png") no-repeat left top 8px;
    padding-left: 30px;
    font: bold 30px/1 'HelveticaNeueCyr';
}

.footer-phone:hover{
    color: #424242;
}

.footer-phone span{
    font-size: .66em;
    font-weight: 300;
}

.footer-email{
    color: #666666;
    display: inline-block;
    vertical-align: top;
    background: url("../images/elements/email-icon.png") no-repeat left top 6px;
    padding-left: 30px;
    font: 300 18px 'HelveticaNeueCyr';
}

.address-icon{
    background: url("../images/elements/marker.png") no-repeat;
    width: 18px;
    height: 19px;
    margin: 0 auto 10px;
}

.footer-email:hover{
    color: #111111;
}

.footer-item:not(:last-child){
    margin-bottom: 14px;
}

.footer-address{
    text-align: center;
    color: #888888;
    font: 200 17px 'HelveticaNeueCyr';
}

.footer-center-wrap{
    text-align: center;
    margin-top: 30px;
}

.opt-link{
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    color: #888888;
    font: 700 12px 'HelveticaNeueCyr';
    letter-spacing: 0.05em;
    padding-bottom: 4px;
    border-bottom: 1px dashed #888888;
}

.opt-link:hover{
    color: #000;
    border-bottom: 1px dashed #000;
}

.footer-social{
    text-align: right;
    font-size: 0;
    margin-top: 35px;
}

.footer-social a{
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    line-height: 28px;
    border: 3px solid #111111;
    text-align: center;
}

.footer-social a img{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.footer-social a:nth-child(2){
    line-height: 25px;
    padding-left: 3px;
}

.footer-social a:not(:last-child){
    margin-right: 10px;
}

.footer-social a:hover{
    border-color: #ffe400;
}

.footer-made{
    color: #888888;
    text-align: right;
    font: 200 15px 'HelveticaNeueCyr';
    margin-top: 17px;
}

.footer-made a{
    font-weight: normal;
    color: #111111;
}

.incorrect{
    border-color: #eb001c !important;
}

.footer-made a:hover{
    color: #ffe400;
}

.rights{
    color: #bbbbbb;
    font: 300 13px 'HelveticaNeueCyr';
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 60px;
}

.ft-d-1{
    background: url("../images/bg/main-s-bg.png") repeat;
    width: 206px;
    height: 206px;
    margin-left: 743px;
    top: 17px;
    z-index: 2;
}

.ft-d-2{
    background: url("../images/content/ft-d-1.png") repeat;
    width: 172px;
    height: 226px;
    margin-left: -960px;
    top: 14px;
}

.ft-d-3{
    background: rgb(221, 221, 221);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    margin-left: 536px;
    bottom: 38px;
}

.ft-d-4{
    background: rgb(221, 221, 221);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -812px;
    bottom: 94px;
}

.ft-d-5{
    background: url("../images/elements/d-type-29.png") no-repeat;
    width: 25px;
    height: 15px;
    margin-left: 628px;
    top: 37px;
    z-index: 2;
}

.colors{
    background: rgb(252, 252, 252);
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}

.colors-row{
    font-size: 0;
}

.color-value{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid rgb(238, 238, 238);
    margin-right: 20px; 
    cursor: pointer;
}

.color-value:hover, .color-value.active{
    border-color: transparent;
}

.color-field{
    display: inline-block;
    vertical-align: middle;
}

.color-btn{
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 7px 7.5px 0;
    border-color: transparent #dddddd transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.color-btn.color-plus{
    border-width: 7.5px 0 7.5px 7px;
    border-color: transparent transparent transparent #dddddd;

}

.color-btn.color-plus:hover{
    border-color: transparent transparent transparent #444444;
}

.color-btn.color-minus:hover{
    border-color: transparent #444444 transparent transparent;
}

.color-field input{
    width: 38px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 5px;
    background: transparent;
    font: 600 13px 'HelveticaNeueCyr';
    color: #444444;
    border: 2px solid #eeeeee;
}

.color-field input:focus{
    border-color: #444444;
}

.color-label{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    color: #dddddd;
    font: 600 13px 'HelveticaNeueCyr';
}

.colors-row:not(:last-child){
    margin-bottom: 20px;
}


.price-label{
    color: #aaaaaa;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 12px;
    font: 200 24px/38px 'PF Din Text Cond Pro';
}

.price-values{
    display: inline-block;
    vertical-align: bottom;
}

.old-price{
    color: #aaaaaa;
    font: 14px 'PF Din Text Cond Pro';
    visibility: hidden;
    text-decoration: line-through !important;
}

.old-price span{
    font-size: 24px;
    font-weight: bold;
}

.old-price.shown{
    visibility: visible;
}

.new-price{
    color: #111111;
    margin-top: 4px;
    font: 300 24px 'PF Din Text Cond Pro';
}

.new-price span{
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.calc-form{
    margin-top: 40px;
}

.calc-form-left{
    display: inline-block;
    vertical-align: top;
    margin-top: -17px;
    position: relative;
}

.arrow{
    background: url("../images/elements/arrow-right-white.png") no-repeat;
    width: 33px;
    height: 60px;
    position: absolute;
    right: -79px;
    top: 50%;
    margin-top: -24px;
}

.calc-form-title{
    color: #111111;
    font: 36px 'pf_din_text_cond_probold';
}

.calc-form-subtitle{
    color: #111111;
    font: 200 24px 'HelveticaNeueCyr';
}

.calc-form-area{
    display: inline-block;
    vertical-align: top;
    width: 700px;
	float: right;
}

.calc-form-row{
    margin: 0 -10px;
}

.calc-form-col{
    padding: 0 10px;
    width: 33.3333333333%;
    float: left;
}

.calc-form-col input[type="tel"],
.calc-form-col input[type="text"]{
    height: 52px;
    width: 100%;
    display: block;
    background: transparent;
    text-align: center;
    font: 200 20px 'HelveticaNeueCyr';
    color: #111111;
    padding: 0 12px;
    border: 2px solid #e8e8e8;
}
.calc-form-col input[type="tel"]:focus,
.calc-form-col input[type="text"]:focus{
    border-color: #111111;
}

.action-bottom{
    font: 18px/36px 'HelveticaNeueCyr';
    text-align: center;
    color: #111111;
    margin-top: 70px;
}

.action-bottom span{
    font: 200 24px/36px 'HelveticaNeueCyr';
    color: #666666;
}

.calc-btn{
    display: inline-block;
    vertical-align: top;
    height: 52px;
    border-radius: 26px;
    width: 100%;
    color: #111111;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    font: 18px/52px 'pf_din_text_cond_promedium';
    background: #ffe400;
}

.calc-btn:hover{
    background: #111111;
    color: #ffe400;
}

.calc-form-action{
    text-align: center;
}

.products-item img{
    display: block;
}

.products-slider-wrap{
    position: relative;
}

.products-slider{
    z-index: 3;
    position: relative;
}

.products-slider-wrap:before{
    background: url("../images/elements/pr-slider-before.png") no-repeat;
    position: absolute;
    content: '';
    width: 335px;
    height: 335px;
    left: 50%;
    margin-left: -167px;
    margin-top: -167px;
    top: 50%;
    background-size: contain;
}

.products-slider-navs{
    white-space: nowrap;
    float: right;
    margin-top: 50px;
    margin-right: 16px;
}

.products-slider-navs .nav-slide:not(:last-child){
    margin-right: 30px;
}

.colors .container{
    position: relative;
    z-index: 4;
}

.c-d-1{
    background: url("../images/content/c-d-1.png") repeat;
    width: 472px;
    height: 214px;
    margin-left: -635px;
    top: 0;
}

.c-d-2{
    background: #111111;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: -632px;
    top: 32px;
    z-index: 2;
}

.c-d-3{
    background: url("../images/elements/d-type-13.png") repeat;
    width: 75px;
    height: 15px;
    margin-left: -335px;
    top: 42px;
    z-index: 2;
}


.c-d-4{
    background: #ffe400;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 472px;
    bottom: 70px;
    z-index: 2;
}

.c-d-5{
    background: url("../images/elements/d-type-26.png") repeat;
    width: 28px;
    height: 18px;
    margin-left: 693px;
    top: 152px;
    z-index: 2;
}

.c-d-6{
    background: url("../images/elements/d-type-8.png") repeat;
    width: 6px;
    height: 72px;
    margin-left: -585px;
    bottom: 74px;
    z-index: 2;
}

.c-d-7{
    background: url("../images/elements/d-type-23.png") repeat;
    width: 28px;
    height: 18px;
    margin-left: -845px;
    top: 543px;
    z-index: 2;
}

.c-d-8{
    background: url("../images/content/p-d-3.png") repeat;
    width: 96px;
    height: 236px;
	left: auto;
    right: 0;
    bottom: 35px;
}

#order-modal{
    max-width: 700px;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.94) !important;
}

#order-modal .order-form{
    padding-bottom: 70px;
    position: relative;
}

.close-modal{
    background: url("../images/elements/close.png") no-repeat;
    width: 19px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 0;
    opacity: 0.5;
}

.close-modal:hover{
    opacity: 1;
}

#order-modal .order-form-title{
    font-size: 60px;
    line-height: 62px;
}

.thanks-social-label{
    display: inline-block;
    vertical-align: top;
    color: #111111;
    font: 200 30px 'HelveticaNeueCyr';
}

.thanks-social-block{
    margin-top: 70px;
}

.order-popup .fancybox-item.fancybox-close{
    display: none !important;
}

.thanks-social-block .footer-social{
    margin: 0 0 0 22px;
    display: inline-block;
    vertical-align: top;
}

.video-container{
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    visibility: hidden;
}

.video-container.shown{
    opacity: 1;
    visibility: visible;
}

input, a, .hov, .play, .shadow, .video-link img, .color-value, .video-container, .zoom, .faq-item-header, .color-btn, .faq-item-header:before{
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}



@-webkit-keyframes slideInLeftArrow {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideInLeftArrow {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.animated, .how-item:after {
    -webkit-animation-duration:  1.35s;
    animation-duration: 1.35s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite, .how-item:after {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.slideInLeftArrow, .how-item:after {
    -webkit-animation-name: slideInLeftArrow;
    animation-name: slideInLeftArrow;
}

.over-block{
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 15px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.over-block-content{
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-align: center;
    position: relative;
}

.over-block-content:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.25em;
}

.over-block-wrap{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.over-block-title{
    font: 50px 'pf_din_text_cond_promedium';
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-align: center;
    color: #fff;
    margin-top: 35px;
}

.over-block-title span{
    color: #ffe400;
}

.image-rotate{
    transform: rotate(-90deg);
}

.colors-right {
    margin-top: 130px;
	padding-left:0;
}

.products-item img{
    width: 100%;
}

.price-block{
    float: left;
    margin-top: -7px;
    opacity: 0;
    visibility: hidden;
}

.price-block.active{
    opacity: 1;
    visibility: visible;
}

.colors-type-item{
    margin: auto;
   /* width: 250px;*/
}

.colors-type-content{
    padding: 0 4px;
}

.colors-type-item:first-child .colors-type-content{
    background: rgb(154, 154, 154);
}

.colors-type-item:last-child .colors-type-content{
    background: rgb(240, 177, 1);
}

.colors-type-header{
    height: 65px;
    text-align: center;
    color: #fff;
    font: 30px/65px 'pf_din_text_cond_probold';
}

.colors-left{
    margin-top: 65px;
	overflow: hidden;
    padding-bottom: 40px;
	max-width: 530px;
}

.colors-type-block{
    background: #fff;
    padding: 20px 10px 20px;
    text-align: center;
	min-height: 200px;
}

.colors-type-descr{
    font: 14px/19px 'HelveticaNeueCyr';
    color: #444444;
    margin-bottom: 20px;
}

.colors-type-item:last-child {
  /*  float: right;*/
}

.colors-item{
	margin-bottom: 10px;
    display: inline-block;
    margin: 0 9px;
}

.hidden-colors .color-value {
    background: rgb(238, 238, 238) !important;
    border-color: rgb(238, 238, 238) !important;
}

.hidden-colors{
    position: relative;
}

.hidden-colors:after{
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.6);
    content: '';
    left: 0;
    top: 0;
}

.colors-type-bottom{
    background: #ffe400;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
}

.colors-type-bottom:after{
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 265px 0 265px;
    border-color: #ffe400 transparent transparent transparent;
    position: absolute;
}

.colors-type-old-price{
    color: #cdb700;
    font: 14px 'PF Din Text Cond Pro';
    padding-left: 47px;
}

.colors-type-new-price{
    color: #111111;
    font: 24px/24px 'PF Din Text Cond Pro';
    padding-top: 7px;
}

.colors-type-old-price span{
    font-size: 24px;
    text-decoration: line-through !important;
}

.colors-type-new-price span{
    font-size: 45px;
    font-weight: bold;
}
.advants-carousel .slick-list {
	padding-top:60px;
}
.advants-carousel .slick-arrow {
	position:absolute;
	top:0;
	left:0;
}
.advants-carousel .next-slide {
	left:85px;
}
.stick_form {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:#262626;
	z-index:100;
	padding: 15px 0;
	opacity:.8;
	transition:all 300ms;
	display:none;
	padding-right: 100px;
}
.stick_form:hover {
	opacity:1;
}
.stick_form_text {
	float:left;
	color:#fff;
	margin-bottom: 0;
	margin-right: 25px;
	font: 24px/35px 'PF Din Text Cond Pro';
}

@media(orientation: portrait){
    .mobile .over-block{
        opacity: 1;
        visibility: visible;
    }
}


@media (max-width: 1229px) {
	.phone a {
		font-size: 32px ;
	}
	.main-img {
		width: 550px;
		height: 375px;
	}
	.main-title {
		font-size: 130px;
		line-height: 1;
		margin-left: -9px;
	}
	.colors-type-item {
		width: 214px;
	}
	.colors-type-bottom:after {
		border-width: 32px 107px 0 107px;
	}
	.calc-form-area {
		width: 575px;
	}
	.photo-row {
		height: auto;
	}
	.fake-item-1 .fake-item-img {
		left: 215px;
	}
	.fake-item-2 .fake-item-img {
		right: 150px;
	}
	.fake-item-3 .fake-item-img {
		left: 150px;
	}
	.fake-item-4 .fake-item-img {
		right: 170px;
		top: -200px;
	}
	.colors-type-descr {
		min-height: 58px;
	}
	.video-container iframe {
		height: 340px;
	}	
	.color-field,
	.color-label {
		display: none;
	}
	.action-bottom,
	.how {
		display: none;
	}
	.colors-item {
		margin-bottom: 15px;
		display:inline-block;
		width:27%;
	}
	.color-value {
		margin-right: 0;
	}
	.where {
		padding-bottom: 0;
		margin-top: 15px;
	}
	.wide_container {
		width: 100%;
		padding: 0;
	}
	.why-list {
		margin-top: 20px;
	}
	.advants-item {
		margin: 0;
	}
}
@media (max-width: 991px) {
	.where-slider-links a {
		height: 30px;
		font: bold 13px/30px 'HelveticaNeueCyr';
	}
	.where-slider-wrap {
		position: relative;
		margin-top: 40px;
	}
	.why-list {
		margin-bottom: 30px;
	}
	.where-slider-navs .nav-slide {
		top: -23px;
	}
	.why {
		padding-bottom: 40px;
	}
	.colors-type-item {
		width: 196px;
	}
	.colors-type-bottom:after {
		border-width: 32px 98px 0 98px;
	}
	.colors-item{
		margin-bottom: 15px;
		display: inline-block;
		width: 27%;
	}
	.fake-item-1 .fake-item-img {
		left: 149px;
		top: -30px;
		width: 200px;
		height: 106px;
	}
	.fake-item-2 .fake-item-img {
		right: 100px;
		width: 200px;
		height: 97px;
		top: -50px;
	}
	.fake-item-3 .fake-item-img {
		left: 100px;
		width: 178px;
		height: 113px;
	}
	.fake-item-4 .fake-item-img {
		right: 165px;
		top: -160px;
		width: 200px;
		height: 157px;
	}
	.fake-bottom-block {
		bottom: 30px;
	}
	.main-title {
		font-size: 80px;
	}
	.main-text,
	.main-subtitle {
		font-size: 50px;
		line-height: 1;
	}
	.main-items {
		margin-top: 15px;
	}
	.main-block {
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.main-img {
		width: 500px;
		height: 337px;
	}
	.why {
		padding-top: 30px;
	}
	.title {
		font-size: 45px;
		line-height:1.2;
	}
	.products-slider-navs {
		margin-top: 15px;
	}
	.where {
		margin-top: 50px;
	}
	.calc-form-left {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.calc-form {
		margin-top: 30px;
	}
	.colors {
		padding-top: 60px;
		padding-bottom: 50px;
	}
	.change .container {
		padding-bottom: 60px;
		padding-top: 30px;
	}
	.advants {
		padding-bottom: 40px;
		background-size: cover;
		padding-top: 40px;
	}
	.photo .container {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.photo-slider-wrap {
		margin-top: 30px;
	}
	.fake {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.order {
		padding-top: 40px;
	}
	.footer {
		padding-top: 20px;
	}
	.footer-phone {
		font-size:25px;
	}
	.opt-link {
		font-size:11px;
		letter-spacing: 0;
	}
	.fake-item-bottom-text br,
	.fake-item-text br {
		display:none;
	}
	.fake-list-item {
		max-width: 230px;
	}
	.video-container iframe {
		height: 430px;
	}
	.m-d-12,
	.m-d-16 {
		display:none;
	}
	.calc-form-area {
		float: none;
	}
}
@media (max-width: 767px) {
	.colors-left {
		margin-top: 35px;
		text-align: center;
	}
	.colors-type-item {
		float: none; 
		display: inline-block;
		margin: 0 1%;
	}
	.colors-type-item:last-child {
		float: none; 
	}
	.colors-right {
		margin-top: 30px;
		padding-left:15px;
	}
	.main-title {
		font-size: 60px;
	}
	.main-text, .main-subtitle {
		font-size: 35px;
	}
	.main-item {
		font: 200 20px/30px 'HelveticaNeueCyr';
	}
	.where-slider-links a {
		height: 30px;
		font: bold 11px/30px 'HelveticaNeueCyr';
	}
	.where-slider-links a:not(:last-child) {
		margin-right: 15px;
	}
	.video-container iframe {
		height: 310px;
	}
	.why .video-link {
		max-width: 410px;
	}
	.main-img {
		width: 410px;
		height: 275px;
		top: 84px;
	}
	.why-bottom-title {
		font: 30px/1.5 'pf_din_text_cond_promedium';
	}
	.title {
		font-size: 37px;
	}
	.calc-form-area {
		width: 100%;
	}
	.change-item-text:before,
	.change-item:not(:last-child):after,
	.change-item:first-child:before {
		display:none;
	}
	.change-item-text {
		position: static;
		transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-o-transform: translateY(0%);
	}
	.change-item:not(:last-child) {
		margin-bottom: 30px;
	}
	.change-item:nth-child(2n+1) .change-item-text {
		margin-left: 110px;
	}
	.change-item:nth-child(2n) .change-item-decor,
	.change-item:nth-child(2n+1) .change-item-decor {
		margin-left: 0;
		left: 35px;
	}
	.change-item:nth-child(2n) .change-item-text {
		margin-right: 0;
		text-align: left;
		margin-left: 110px;
		left: 50%;
	}
	.fake-list-item {
		max-width: 340px;
		margin-bottom: 30px;
	}
	.fake-sep {
		margin-top: 4px;
		margin-bottom: 7px;
	}
	.clearfix .fake-sep {
		float: none;
		margin-left: -10px;
	}
	.fake-img,
	.fake-item-img {
		display:none;
	}
	.right-item {
		text-align: left;
		float: none;
	}
	.fake-list {
		margin-top: 40px;
	}
	.fake-list-row:not(:last-child) {
		margin-bottom: 0;
	}
	.fake-bottom-block {
		position: static;
		text-align: left;
		max-width: 340px;
		margin-left: 0;
	}
	.fake-bottom-text {
		text-align: left;
	}
	.fake-title {
		font: 40px/1 'pf_din_text_cond_probold';
	}
	.fake-subtitle {
		font: 200 31px/1'PF Din Text Cond Pro';
	}
	.order-title {
		font: 50px/1'pf_din_text_cond_probold';
	}
	.order-subtitle {
		font: 200 31px/1'PF Din Text Cond Pro';
	}
	.form-col {
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.footer-left {
		margin-top: 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.rights {
		margin-top: 15px;
	}
	.footer-social {
		text-align: center;
		margin-top: 30px;
	}
	.calc-form-col {
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.where-slider-wrap {
		margin-top: 20px;
	}
	.justify-wrap {
		text-align: left;
	}
	.change-list {
		margin-top: 20px;
	}
	.change-item-title {
		margin-bottom: 5px;
	}
	.where-slider-navs .nav-slide {
		position: relative;
		top: 0;
	}
	.where-slider-navs .nav-slide:not(:last-child) {
		right: 20px;
	}
	.where-slider-navs {
		margin-bottom: 10px;
	}
	.where-title {
		font: 200 24px/1 'HelveticaNeueCyr';
	}
	.where {
		margin-top: 20px;
	}
}
@media (max-width: 767px) and (min-width: 650px) {
	.col-sx-3 {
		width: 25%;
		float: left;
	}
	.col-sx-4 {
		width: 33.33333333%;
		float: left;
	}
	.col-sx-5 {
		width: 41.66666667%;
		float: left;
	}
	.phone a {
		font-size: 23px;
	}
}
@media (max-width: 650px) {
	.header-right {
		margin-top: 0;
	}
	.m-d-5 {
		margin-left: 0;
		right: 10%;
		left: auto;
	}
}
@media (max-width: 467px) {
	.main-title {
		font-size: 50px;
	}
	.main-text, .main-subtitle {
		font-size: 28px;
	}
	.main-text {
		margin-left: 20px;
	}
	.main-img {
		width: 300px;
		height: 195px;
		top: 40px;
	}
	.header-right {
		margin-top: 0;
	}
	.main-item {
		font: 200 17px/20px 'HelveticaNeueCyr';
		padding-left: 52px;
	}
	.why .video-link {
		max-width: 290px;
	}
	.why-bottom {
		margin-top: 30px;
	}
	.video-container iframe {
		height: 220px;
	}
	.colors-type-item {
		margin: 0 0%;
		width: 140px;
	}
	.colors-type-bottom:after {
		border-width: 20px 70px 0 70px;
	}
	.products-slider-wrap:before {
		width: 260px;
		height: 260px;
		margin-left: -130px;
		margin-top: -130px;
	}
	.price-block {
		display: none;
	}
	.colors-type-block {
		padding: 5px;
		min-height: 0;
	}
	.colors-type-bottom {
		padding-top: 10px;
	}
	.colors-type-descr {
		margin-bottom: 10px;
	}
	.colors-type-header {
		height: 55px;
		font: 30px/55px 'pf_din_text_cond_probold';
	}
	.change-item:nth-child(2n) .change-item-decor,
	.change-item:nth-child(2n+1) .change-item-decor {
		margin-left: 0;
		left: 0;
		margin-right: 0;
	}
	.change-item:nth-child(2n) .change-item-text,
	.change-item:nth-child(2n+1) .change-item-text {
		margin-left: 70px;
	}
	.change-item-title {
		display: block;
		text-align: left;
		padding-left: 70px;
	}
	.advants-list-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	#order-modal .order-form-title {
		font-size: 40px;
		line-height: 1;
	}
	.order-form-subtitle {
		font: 300 20px/1'HelveticaNeueCyr';
	}
}