/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: "robotoslab-bold";
    src: url("../fonts/robotoslab-bold.eot") format("embedded-opentype"),
    url("../fonts/robotoslab-bold.ttf") format("truetype"),
    url("../fonts/robotoslab-bold.woff") format("woff"),
    url("../fonts/robotoslab-bold.svg#proximanova-extrabold") format("svg");
}

@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/roboto-medium.eot") format("embedded-opentype"),
    url("../fonts/roboto-medium.ttf") format("truetype"),
    url("../fonts/roboto-medium.woff") format("woff"),
    url("../fonts/roboto-medium.svg#roboto-medium") format("svg");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular.eot") format("embedded-opentype"),
    url("../fonts/roboto-regular.ttf") format("truetype"),
    url("../fonts/roboto-regular.woff") format("woff"),
    url("../fonts/roboto-regular.svg#roboto-regular") format("svg");
}

@font-face {
    font-family: "robotoslab-regular";
    src: url("../fonts/robotoslab-regular.eot") format("embedded-opentype"),
    url("../fonts/robotoslab-regular.ttf") format("truetype"),
    url("../fonts/robotoslab-regular.woff") format("woff"),
    url("../fonts/robotoslab-regular.svg#robotoslab-regular") format("svg");
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
    font-family: "roboto-regular";
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #333333;
    box-sizing: border-box;
    font-weight: 500;
    outline: transparent;
}

body {
    font-family: "proximanova-regular";
    overflow-x: hidden;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

ul {
    list-style-type: none;
    display: inherit;
    width: inherit;
    justify-content: inherit;
}

ol {
    padding-left: 15px;
}

li {
    color: inherit;
}

textarea {
    resize: none;
}

h1 {
    margin: 0;
    font-family: robotoslab-bold;
}

h2 {
    margin: 0;
    font-family: robotoslab-bold;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
    font-size: 24px;
    font-family: roboto-regular;
}

h6 {
    margin: 0;
    font-size: 18px;
}

p {
    margin: 0;
    color: inherit;
}

input, textarea {
    border-style: solid;
}

b {
    font-family: robotoslab-bold;
    font-weight: 100;
}

strong {
    font-family: robotoslab-regular;
    font-weight: 100;
}

table {
    border-collapse: collapse;
}

td {
    text-transform: none;
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

.container {
    max-width: 1144px;
    width: 100%;
    margin: auto;
    padding: 0;
}

.btn {
    border-radius: 30px;
    height: 54px;
    line-height: 35px;
    border-radius: 30px;
    min-width: 290px;
    cursor: pointer;
    font-family: robotoslab-bold;
}

.btn-link:focus, .btn-link:hover {
    background-color: inherit;
    color: black;
    border-color: #ccc;
    text-decoration: inherit;
}

.-rose {
    background: #f0628d;
    color: #fff;
}

.-orange {
    background: #f87f3f;
    color: #fff;
}

.-violet {
    background: #57309e;
    color: #fff;
}

.-yellow {
    background: #f6cc48;
    color: #fff;
}

.-white {
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
}

.title {
    position: relative;
    margin: 25px 0;
    font-family: robotoslab-bold;
    font-size: 36px;
    color: #000;
    max-width: 766px;
    width: 100%;
}

.subtitle {
    width: 975px;
    opacity: 0.5;
    margin-bottom: 38px;
}

.close-btn {
    display: block;
    position: absolute;
    right: 20px;
}

.-pulse {
    -webkit-animation: pulse-a 1.2s infinite;
    animation-name: pulse-a 1.2s infinite;
}

.-rotation1 {
    -webkit-animation: rotation1 3s infinite;
    animation-name: rotation1 3s infinite;
}

@keyframes pulse-a {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(0.95);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

@keyframes rotation1 {
     0% {
        -moz-transform: rotate(0deg);
        -ms-transform:  rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform:  rotate(0deg);
    }
     50% {
        -moz-transform: rotate(5deg);
        -ms-transform:  rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform:  rotate(5deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform:  rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform:  rotate(0deg);
    }
}

@keyframes rotating
{
    from
    {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes infinite-rotating
{
    from
    {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.-infinite-rotating {
    -webkit-animation: infinite-rotating 12s linear infinite;
    -moz-animation: infinite-rotating 12s linear infinite;
    -ms-animation: infinite-rotating 12s linear infinite;
    -o-animation: infinite-rotating 12s linear infinite;
    animation: infinite-rotating 12s linear infinite;
}


@keyframes swaying {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform:  rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform:  rotate(0deg);
    }
    25% {
        -moz-transform: rotate(5deg);
        -ms-transform:  rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform:  rotate(5deg);
    }
    75% {
        -moz-transform: rotate(-5deg);
        -ms-transform:  rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform:  rotate(-5deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform:  rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform:  rotate(0deg);
    }
}
.-swaying {
    -webkit-animation: swaying 10s linear infinite;
    -moz-animation: swaying 10s linear infinite;
    -ms-animation: swaying 10s linear infinite;
    -o-animation: swaying 10s linear infinite;
    animation: swaying 10s linear infinite;
}

@keyframes fly {
    0% {
       top: 140px;
    }
    50% {
        top: 150px;
    }
    100% {
        top: 140px;
    }
}
.-fly {
    -webkit-animation: fly 3s ease-out infinite;
    -moz-animation: fly 3s ease-out infinite;
    -ms-animation: fly 3s ease-out infinite;
    -o-animation: fly 3s ease-out infinite;
    animation: fly 3s ease-out infinite;
}

@keyframes fly2 {
    0% {top: 43%;
        right: 4%;
    }
    50% {top: 42%;
        right: 3.5%;
    }
    100% {top: 43%;
        right: 4%;
    }
}

/*--------Decorations-----------*/
.decoration {
    position: absolute;
    background-position: center;
}

.decoration.-yellow-dots {
    background-image: url("../imgs/dots.png");
    height: 120px;
    width: 240px;
    top: 91px;
}

.decoration.-lines {
    background-image: url("../imgs/lines.png");
    height: 90px;
    width: 90px;
    top: 140px;
    right: 0;
}

.decoration.-triangles {
    background-image: url("../imgs/triangles.png");
    height: 160px;
    width: 130px;
    top: -120px;
}

.decoration.-half-squire {
    background-image: url("../imgs/half-squire-border.png");
    height: 190px;
    width: 30px;
    top: -15px;
    right: 0;
}

/*---------*/
.decoration.-curly-brace {
    background-image: url("../imgs/curly-brace.png");
    height: 46px;
    width: 107px;
    top: 105px;
}

.decoration.-circles {
    background-image: url("../imgs/circles-border.png");
    height: 261px;
    width: 184px;
    top: 410px;
    right: 0;
    z-index: 10;
}

.decoration.-dots-rose {
    background-image: url("../imgs/dots-rose.png");
    height: 249px;
    width: 222px;
    top: 30%;
    left: 50px;
}

.decoration.-wavy-lines-short-rose {
    background-image: url("../imgs/wavy-lines-short-rose.png");
    height: 23px;
    width: 113px;
    top: 43%;
    right: 4%;
    -webkit-animation: fly2 4.5s ease-out infinite;
    -moz-animation: fly2 4.5s ease-out infinite;
    -ms-animation: fly2 4.5s ease-out infinite;
    -o-animation: fly2 4.5s ease-out infinite;
    animation: fly2 4.5s ease-out infinite;
}

.decoration.-triangle-orange {
    background-image: url("../imgs/triangle-orange.png");
    height: 190px;
    width: 57px;
    left: -28px;
    bottom: 42%;
}

.decoration.-wavy-lines-black {
    background-image: url("../imgs/wavy-lines-black.png");
    height: 54px;
    width: 89px;
    bottom: 34%;
    left: 10px;
}

.decoration.-plus.-rose-color {
    color: #f0628d;
    font-size: 90px;
    font-weight: 900;
    bottom: 28%;
    right: 30px;
}

.decoration.-minus.-rose-color {
    color: #f0628d;
    font-size: 90px;
    font-weight: 900;
    bottom: 19%;
    margin: auto auto auto 36%;
    right: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 26px;
    line-height: 20px;
}

.decoration.-plus.-green-color {
    color: #7fba56;
    font-size: 90px;
    font-weight: 900;
    bottom: 10px;
    left: 4%;
}

.decoration.-w {
    background-image: url("../imgs/w.png");
    height: 49px;
    width: 52px;
    bottom: 4%;
    right: 0;
    transform: rotate(90deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.decoration.-dots-orange {
    background-image: url("../imgs/dots-orange.png");
    height: 132px;
    width: 228px;
    top: 100px;
    right: 0;
}

.decoration.-elements-group {
    background-image: url("../imgs/elements-group.png");
    height: 183px;
    width: 125px;
    bottom: -10px;
}

.decoration.-half-squire-border2 {
    background-image: url("../imgs/half-squire-border2.png");
    height: 135px;
    width: 58px;
    right: 14%;
    top: 20%;
}

.decoration.-elements-group2 {
    background-image: url("../imgs/elements-group2.png");
    height: 366px;
    width: 73px;
    left: -2%;
    bottom: 25%;
}

.decoration.-dots-blue {
    background-image: url("../imgs/dots-blue.png");
    height: 132px;
    width: 228px;
    right: 170px;
    bottom: 7%;
}

.decoration.-squires {
    background-image: url("../imgs/squires.png");
    height: 111px;
    width: 107px;
    left: 8%;
    top: 45%;
    -webkit-animation: pulse-a 4s infinite;
    animation-name: pulse-a 4s infinite;
}

.decoration.-half-dots {
    background-image: url("../imgs/half-dots.png");
    height: 42px;
    width: 106px;
    right: 50px;
    top: 35%;
}

.map .decoration.-plus.-rose-color {
    bottom: -90px;
    right: 11%;
}

.decoration.-equal-symb {
    font-size: 110px;
    font-weight: 900;
    transform: rotate(90deg);
    margin: 0 auto;
    left: 50%;
}

.call-form .decoration.-dots-rose {
    top: 0;
    margin-top: auto;
    bottom: 10px;
    left: 20px;
}

.decoration.-half-squire-border-orange {
    background-image: url("../imgs/half-squire-border-orange.png");
    height: 190px;
    width: 30px;
    bottom: 25%;
    right: 6.5%;
}

.wavy-line {
    background-image: url("../imgs/wavy-line.png");
    width: 100%;
    max-width: 1450px;
    height: 20px;
    display: block;
    margin: 90px auto;
}

/*--------Decorations-----------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.main-header-content {
    background-image: url(../imgs/header-bg.jpg);
    background-size: auto;
    background-position: center;
    border-bottom: 0;
    width: 100%;
    height: 876px;
    overflow: hidden;
}

.header-caption {
    margin-top: 130px;
    position: relative;
}

.header-caption p {
    font-size: 21px;
    line-height: 20px;
}

.header-caption h1 {
    font-size: 60px;
    margin: 10px auto;
    color: #fff;
}

.header-caption h5 {
    color: #fff;
    font-size: 24px;
    position: absolute;
    width: 640px;
    z-index: 2;
}

.header-info {
    padding-top: 15px;
    justify-content: space-between;
    padding-right: 90px;
}

/*----------nav-----------------*/

.nav-panel.-mobile {
    display: none;
}

.nav-panel.-header, .nav-menu.-header {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.nav-menu.-header {
    padding: 15px;
}

.nav-menu.-header .nav-item a {
    font-family: 'roboto-medium';
    font-size: 16px;
    height: 40px;
    line-height: 22px;
}
.nav-menu.-header .nav-item:last-child a {
    min-width: 180px;
}

.nav-menu.-header .nav-item {
    background: transparent;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: 0.3s;
    height: 40px;
    line-height: 22px;
}

.nav-menu.-header .nav-item:hover {
    border-color: #57309e;
    color: #f87f3f;
    height: 40px;
    transition: 0.3s;
    height: 40px;
    line-height: 22px;
    transition: 0.3s;
}

.nav-menu.-header .nav-item btn:hover {
    height: 40px;
    line-height: 22px;
    transition: 0.3s;
}

.nav-panel.-header .logo {
    margin-right: 50px;
}

.nav-panel.-header .contacts {
    margin: 0 auto;
}

.nav-bg {
    background-color: #fff;
}

/*----------form -----------------*/

.form.-header {
    width: 100%;
    height: 440px;
    padding-top: 140px;
    position: relative;
    z-index: 1;
}

.form.-header:before {
    content: '';
    display: block;
    height: 715px;
    width: 712px;
    position: absolute;
    background: url(../imgs/Polygon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    top: -36px;
}

.form.-header:after {
    content: '';
    display: block;
    height: 705px;
    width: 719px;
    position: absolute;
    background: url(../imgs/Polygon-border.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    top: -36px;
    left: 0;
    -webkit-animation: rotation1 6s infinite;
    animation-name: rotation1 6s infinite;
}

.order-form {
    margin: 0 0 0 auto;
}

.form.-header input, .form.-bottom input {
    border-style: solid;
    border: 1px solid #fff;
    margin: 8px auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    height: 39px;
    width: 100%;
    color: #fff;
}

.form.-header input::placeholder {
    font-size: 14px;
    color: #fff;
}

.form.-header input::-moz-placeholder {
    font-size: 14px;
    color: #fff;
}

.form.-header h3 {
    font-size: 21px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.form.-header p {
    color: #fff;
    opacity: 0.6;
    font-size: 17px;
    font-family: robotoslab-regular;
}

.form.-header .tip {
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 14px;
    letter-spacing: -0.3px;
}

.form.-header .send-btn {
    height: 53px;
    cursor: pointer;
    max-width: 390px;
    width: 100%;
    font-size: 20px;
    font-family: robotoslab-bold;
    color: #fff;
    border: none;
    background-color: #f87f3f;
    border-radius: 40px;
    cursor: pointer;
}

.form-inp {
    padding: 5px 10px 5px 20px;
}

/*--------------------------------------------------------------
# Details block
--------------------------------------------------------------*/

.details.-subscribe {
    position: relative;
}

/*--------------------------------------------------------------
# about-learning
--------------------------------------------------------------*/
.about-learning {
    position: relative;
}

.about-learning-item-info {
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
}

.about-learning-item-info .btn {
    margin: 38px 0;
    font-size: 16px;
    line-height: 36px;
    font-family: robotoslab-bold;
    width: 360px;
    height: 54px;
}

.about-lerning-item {
    margin-bottom: 90px;
}

.about-lerning-item:last-child {
    margin-bottom: 0;
}

.about-learning-item-img {
    max-width: 652px;
    width: 100%;
    height: 370px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 25px;
}

.about-learning-item-img img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.about-learning-item-list {
    opacity: 0.6;
}

/*--------------------------------------------------------------
# Packages
--------------------------------------------------------------*/
.packages-details {
    position: relative;
}

.packages-item {
    max-width: 360px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.packages-item:nth-child(4) {
    margin: 0 27px;
}

.packages-item .info {
    padding: 20px 28px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.packages-item .info > p:after {
    content: '';
    display: block;
    margin: 25px auto;
    height: 1px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.10);
}

.packages-item .btn {
    margin: auto;
    width: 288px;
    display: block;
    font-family: robotoslab-bold;
}

.packages-item .heading {
    color: #fff;
    height: 150px;
    width: 100%;
    padding: 50px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.packages-item .heading h5, .packages-item .heading p {
    margin: auto;
    width: 100%;
    text-align: center;
}

.packages-item.-work .heading {
    background-color: #f1c439;
}

.packages-item.-mini .heading {
    background-color: #4ca3b3;
}

/*--------------------------------------------------------------
# Modal window
--------------------------------------------------------------*/

.modal-window {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 55;
}

.modal-container {
    width: 340px;
    height: 330px;
    margin: auto;
    position: relative;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 7px;
    margin-top: 9%;
    padding: 10px 30px 20px 30px;
}

.modal-container input {
    border: 1px solid #ccc;
    margin: 8px auto;
    border-radius: 7px;
    height: 39px;
    width: 100%;
}

.modal-container .title.-modal {
    text-align: center;
    color: #333;
    width: 100%;
    margin-bottom: 10px;
    font-family: proximanova-extrabold;
}

.modal-container .title.-modal:after, .modal-container .title.-modal:before {
    display: none;
}

.modal-container .btn-order {
    height: 53px;
    cursor: pointer;
    font-size: 20px;
    font-family: robotoslab-bold;
    color: #fff;
    margin: 8px auto;
    width: 100%;
    border-radius: 7px;
    border: none;
    background: -moz-linear-gradient(left, rgba(255, 126, 0, 1) 0%, rgba(255, 186, 0, 0.85) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 126, 0, 1) 0%, rgba(255, 186, 0, 0.85) 100%);
    background: linear-gradient(to right, rgba(255, 126, 0, 1) 0%, rgba(255, 186, 0, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e00', endColorstr='#d9ffba00', GradientType=1);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;
}

.close-btn:after {
    content: 'Ã—';
    font-size: 40px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Advantages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Search-for
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Training
--------------------------------------------------------------*/

.training.-bottom {
    background-image: url("../imgs/bg_5_1920.jpg");
    overflow: hidden;
    padding-bottom: 20px;
}

.training.-bottom .details {
    display: inline-block;
    color: #fff;
    padding: 0 30px;
    font-size: 18px;
    line-height: 23px;
}

.training.-bottom .details .send-btn.-white {
    width: 312px;
    margin-top: 17px;
    font-family: robotoslab-bold;
    cursor: pointer;
}

.details-list {
    color: #fff;
    margin: 15px 0 6px 0;
    font-size: 20px;
}

.details-list li {
    margin: 5px 0;
}

.details-list li:before {
    content: '';
    display: inline-block;
    background-image: url("../imgs/ic_tick_.png");
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

/*--------------------------------------------------------------
# Reviews
--------------------------------------------------------------*/
.reviews {
    position: relative;
}

.reviews .btn {
    margin: auto;
    display: block;
    font-family: robotoslab-bold;
    height: 52px;
    width: 266px;
    line-height: 35px;
    margin-top: 50px;
}

.reviews-block {
    max-width: 950px;
    width: 100%;
    margin: auto;
}

.review-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

}

.review-img img {
    height: 100%;
}

.review-content {
    display: inline-block;
    border: 1px solid rgba(25, 25, 25, 0.10);
    padding: 35px;
    border-radius: 10px;
    position: relative;
    margin: 10px 20px;
    background-color: #fff;
    vertical-align: -webkit-baseline-middle;
}

.review-content:before {
    content: '';
    left: -10px;
    top: 30px;
    margin: auto;
    width: 17px;
    height: 17px;
    transform: rotate(-44deg);
    background-color: #fff;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-left: 1px solid rgba(0, 0, 0, 0.10);
}

.review-content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.60);
    line-height: 21px;
    margin-top: 10px;
}

/*--------------------------------------------------------------
# call-form
--------------------------------------------------------------*/

.call-form {
    position: relative;
    padding-bottom: 80px;
}

.call-form .title {
    margin-bottom: 70px;
}

.form-inline {
    display: flex;
    max-width: 805px;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.form-inline input {
    border: 1px solid #ccc;
    height: 39px;
    width: 257px;
    border-radius: 7px;
}

.call-btn {
    display: block;
    width: 226px;
    font-size: 20px;
    font-family: proximanova-extrabold;
    height: 53px;
    border: none;
    color: #fff;
    margin: 48px auto 10px auto;
    border-radius: 7px;
    cursor: pointer;
    background: -moz-linear-gradient(left, rgba(255, 126, 0, 1) 0%, rgba(255, 186, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 126, 0, 1) 0%, rgba(255, 186, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255, 126, 0, 1) 0%, rgba(255, 186, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e00', endColorstr='#d9ffba00', GradientType=1);
}

/*--------------------------------------------------------------
# map
--------------------------------------------------------------*/
.map {
    position: relative;
}

.map .btn {
    font-family: robotoslab-bold;
    display: inline-block;
    margin-left: 10px;
    vertical-align: super;
    min-width: 180px;
}

.map .title {
    display: inline-block;
    width: auto;
}

.map-container {
    background-image: url("../imgs/map.png");
    height: 548px;
    max-width: 1007px;
    width: 100%;
    margin: auto;
}

.map-info {
    width: 272px;
    height: 167px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 25px 30px;
}

.form.-bottom {
    height: 418px;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    margin-left: 50px;
    width: 100%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.form.-bottom input {
    border: 1px solid rgba(0, 0, 0, 0.10);
    height: 50px;
    color: #000;
    line-height: 20px;
    border-radius: 50px;
}

.form.-bottom input::-moz-placeholder {
    font-size: 16px;
    vertical-align: top;
}

.form.-bottom input::placeholder {
    font-size: 16px;
}

.form.-bottom .send-btn {
    font-family: robotoslab-bold;
    background-color: #57309e;
    font-size: 16px;
    color: #fff;
}

.form.-bottom .tip {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.60);
    font-family: robotoslab-regular;
}

.video-content {
    background-image: url(../imgs/video-screen.png);
    background-position: center;
    width: 683px;
    height: 418px;
    display: inline-block;
    position: relative;
}

.play-btn {
    background-image: url("../imgs/play-button.png");
    width: 67px;
    height: 67px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.main-footer {
    background-color: #f1f1f1;
    position: relative;
    min-height: 130px;
    padding-top: 50px;
}

.main-footer:before {
    content: '';
    width: 100%;
    position: absolute;
    top: -10px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../imgs/wavy-line-footer.png);
}

.footer-icon {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 0 3px;
    vertical-align: top;
    transition: 0.3s;
}

.footer-icon img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.footer-icon img:hover {
    height: 35px;
    width: 35px;
    transition: 0.3s;
}

.copyright {

}

/*--------------------------------------------------------------
# Mediaqueries
--------------------------------------------------------------*/

@media screen and (min-width: 1450px) {

    .decoration.-lines {
        float: right;
    }

    .decoration.-yellow-dots {
        float: left;
    }

    .decorations-container {
        position: absolute;
        width: 100%;
        max-width: 1260px;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 1395px) {
    .decoration.-elements-group {
        left: -65px;
        bottom: 0;
    }
}

@media screen and (max-width: 1180px) {
    .header-info {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1145px) {
    .packages-item, .packages-item:nth-child(4) {
        display: block;
        margin: 30px auto;
    }

    .decoration.-elements-group {
        display: none;
    }

    .video-content {
        max-width: 460px;
        width: 100%;
    }

    .container {
        padding: 0 20px;
    }

    .about-learning-item-img {
        width: 50%;
    }
}

@media screen and (max-width: 1012px) {
    .nav-menu.-header {
        height: 0;
        max-height: 0;
        opacity: 0.8;
        transition: 1s ease-in;
    }

    .nav-panel.-header.-mobile {
        position: relative;
        transition: 1s ease-in;
    }

    .nav-panel.-header.-mobile.toggle-menu {
        display: block;
        padding: 10px;
        position: absolute;
        z-index: 5;
        height: 100%;
        background-color: #fff;
        transition: 1s ease-in;
    }

    .toggle-menu .nav-menu.-header {
        display: block;
        border-top: 1px solid #ccc;
        min-height: 300px;
        height: auto;
        opacity: 1;
        transition: 1s ease-in;
    }

    .toggle-menu .nav-menu.-header .nav-item {
        z-index: 5;
        position: relative;
        display: inline-block;
        margin: 20px;
        transition: 1s ease-in;
    }

    .toggle-menu .logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 995px) {

    .nav-panel.-header, .nav-menu.-header {
        display: none;
    }

    .nav-panel.-header.-mobile {
        display: block;
        padding: 10px;
    }

    .nav-panel.-header .logo {
        display: inline-block;
    }

    .toggle-btn {
        display: block;
        float: right;
    }

    .container {
        padding: 0 30px;
    }

    .main-header-content {
        height: auto;
        background-size: cover;
    }

    .form.-header .send-btn {
        font-size: 16px;
    }

    .header-info {
        flex-direction: column;
    }

    .header-caption {
        margin: 50px auto;
        text-align: center;
    }

    .header-caption h1 {
        font-size: 35px;
    }

    .header-caption h5 {
        font-size: 18px;
        position: relative;
        width: 100%;
    }

    .form.-header:before, .form.-header:after {
        left: -81px;
        height: 675px;
        width: 672px;
    }

    .order-form {
        margin: auto;
    }

    .title, .map .title {
        display: block;
        margin: 40px auto;
        text-align: center;
    }

    .subtitle {
        width: 100%;
        text-align: center;
    }

    .about-learning-item-img {
        width: 40%;
        height: 160px;
    }

    .review-content {
        margin: 10px;
        min-width: 300px;
        max-width: 400px;
    }

    .video-content {
        max-width: 360px;
        width: 100%;
    }

    .header-info {
        padding: 0 10px;
    }

    .header-caption {
        padding: 0;
    }

    .form.-header {
        margin: auto;
        height: 680px;
        min-width: 434px;
    }

    .main-content .btn {
        margin: 20px auto;
        display: block;
        width: 300px;
        font-size: 14px;
    }

    .packages-details {
        display: block;
        margin: auto;
    }

    .more-details-block {
        padding: 0;
    }

    .send-btn.-white, .more-details-text h2 {
        margin: 10px auto;
    }

    .reviews {
        width: 100%;
        margin: auto;
        border-radius: 0;
    }

    .call-btn {
        margin: 10px 0;
    }

}

@media screen and (max-width: 815px) {
    .video-content {
        margin: auto;
        display: block;
        height: 280px;
    }

    .form.-bottom {
        margin: 30px auto;
        display: block;
    }

    .social-btns {
        max-width: 120px;
        width: 100%;
    }

    .copyright {
        text-align: center;
    }
}

@media screen and (max-width: 805px) {
    .reviews-block {
        width: 103%;
    }

    .about-lerning-item {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .form.-header:before, .form.-header:after {
        display: none;
    }

    .order-form, .form.-header {
        min-width: 300px;
        margin: auto;
        padding: 10px 20px;
        display: block;
    }

    .form.-header {
        height: 500px;
    }

    .decoration {
        background-size: contain;
    }

    .decoration.-yellow-dots {
        height: 90px;
        width: 76px;
        top: 91px;
    }

    .decoration.-lines {
        top: 100px;
    }

    .decoration.-triangles {
        height: 80px;
        width: 80px;
        top: -60px;
    }

    .decoration.-half-squire {
        height: 140px;
        width: 20px;
        top: -15px;
    }

    .decoration.-curly-brace {
        height: 21px;
        width: 67px;
        top: 65px;
    }

    .decoration.-circles {
        height: 201px;
        width: 114px;
    }

    .about-learning-item-info {
        margin: auto;
        display: block;
    }

    .about-learning-item-img {
        display: none;
    }

    .logo.-footer {
        display: block;
        width: 200px;
        margin: auto;
    }

    .copyright {
        display: block;
        margin: 20px auto;
    }

    .social-btns {
        max-width: 207px;
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 476px) {

    .review-content {
        margin: 10px auto;
        display: block;
    }

    .review-img {
        display: none;
    }

    .map-container {
        background-size: cover;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0 5px;
    }

    .order-form, .form.-header {
        padding: 0;
    }
}