@media (min-width: 280px) and (max-width: 1040px) {
	header {
		text-align:center;
		padding:15px 15px 50px;
		display:block;
	}
	header .logo {
		margin:0 auto 10px;
	}
}
@media (min-width: 280px) and (max-width: 910px) {
	header ul {
		margin:0 auto 10px;
		display:block;
	}
	header ul li {
		margin:0 20px 10px;
	}
	footer .row_flex {
		text-align:center;
		display:block;
	}
	footer .logo {
		margin:0 auto;
	}
	footer p {
		padding:10px 0;
	}
}
@media (min-width: 280px) and (max-width: 630px) {
	h2 {
		font-size:14vw;
		line-height:normal;
	}
	.advantage,
	.calculator {
		background-size:cover;
		height:auto;
		padding-bottom:25px;
	}
	.form form > .row_flex {
		display:block;
	}
	.form .col {
		width:100%;
		margin-bottom:15px;
	}
	.submit {
		margin:0 auto;
		display:block;
	}
}
@media (min-width: 280px) and (max-width: 550px) {
	header {
		padding-bottom:20px;
	}
	h1 {
		font-size:17vw;
		line-height:normal;
	}
	.entrance,
	.registration {
		margin:0 10px 10px;
	}
	.title section a {
		margin-bottom:20px;
	}
}
@media (min-width: 280px) and (max-width: 480px) {
	.title {
		text-align:center;
	}
	.title section ul {
		padding:0;
	}
	.form form {
		padding:0 15px;
	}
	.ac_title {
		padding:20px 50px 20px 20px;
	}
}